// default styles = for mobile
@use '../styles/fonts' as *;

html {
  font-size: 2vw;
  font-family: 'Roboto';
}

body {
  background: $gray;
}

h1, h2 {
  color: $black;
  // margin-left: 2vw;
  // margin-top: 2vw;
}

// button {
//   background-color: $orange;
// }

#app-section {
  height: 750px;
  border: 10px solid $orange;
  margin: 15% 10%;
  border-radius: 30px;
  background: $cream;
}

#header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 3vw 4vw 0 4vw;
  height: 10%;
  font-size: 1.5rem;
  transition: .1s;

  #brogress-header {
    display: none;
  }
}

#header-section:hover {
  background-color: $black;
  color: $orange;
  opacity: .7;

  #progress-header {
    display: none;
  }

  #brogress-header {
    display: block;
    color: $orange;
  }
}

#homepage-section {
  border: 2px solid $black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 75%;
  margin: 2vw 4vw 0 4vw;
  padding: 1vw;
}

#buttons-section {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  justify-content: center;
  // border: 3px solid $gray;
  padding: 1vw;
  margin-top: 2vw;
}

#lift-history-button, #new-pr-button {
  margin-right: 1vw;
  margin-left: 1vw;
  // background-color: $orange;
  color: $black;
  font-size: 1.2rem;
  height: 7.5vw;
  width: 25vw;
  border: none;
  border-radius: 20px;
  transition: .1s;
  // font-weight: bold;
}

#lift-history-button:hover, #new-pr-button:hover {
  opacity: .7;
  background-color: $black;
  cursor: pointer;
  color: $orange;
}

// input forms section

#form-header {
  margin-bottom: .5vw;
  font-size: 1.1em;
  font-weight: bold;
}

#forms-section-test {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // border: 4px solid $gray;
  border-radius: 30px;
  padding: 1vw;
  // margin-top: -.5vw;
  margin-bottom: -2vw;
}

#lift-form-container {
  // border: 3px solid $gray;
  // width: 40%;
  text-align: left;
  label {
    width: 50px;
    display: inline-block;
  }

  // #select-lift-menu {
  //   width: 160px;
  // }
}

#newpr-form-container {
  // border: 3px solid $gray;
  // width: 250px;
  text-align: left;
  label {
    width: 70px;
    display: inline-block;
  }
}

#submit {
  width: 150px;
  text-align: center;
}

#submit-button {
  text-align: right;
  // border: 2px solid $orange;
}

#submit-button-history {
  // border: 2px solid $orange;
  text-align: center;
  margin-right: 1.5vw;
}

#history-display-section {
  // border: 3px solid $gray;
  height: 80%;
  margin-top: -4vh;
}

#lift-history-header {
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  margin: 1vw 2vw -1.5vw 2vw;
  // color: $black;
  // border: 3px solid $gray;
  // border-radius: 30px;
}

#pr-data-display {
  display: flex;
  flex-direction: column;
  background-color: $black;
  // justify-content: center;
  align-items: center;
  border: 2px solid $gray;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-top: 2.6vh;
  margin-bottom: 5vh;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 80%;
  padding: 1vw;
  overflow-y: scroll;
}

#pr-data-instance {
  background-color: lightgrey;
  border: 1px solid $black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1vw;
  height: 20%;
  width: 80%;
  margin-bottom: 1vw;

  #pr-data-buttons {
    text-align: left;
    margin-top: .5vw;
  }

  #delete-button {
    margin-left: .5vw;
  }
}

// // > 400px
// $breakpoint-tablet: 400px;
// @media (min-width: $breakpoint-tablet) {
//   #new-pr-button {
//     background-color: $orange;
//     // display: none;
//   }
// }

// @media screen and (max-width: 399px) {
//   #new-pr-button {
//     background-color: $gray;
//   }
// }